<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="../static/assets/css/bootstrap.css" rel='stylesheet' th:href="@{/assets/css/bootstrap.css}"
          type='text/css'/>

    <link href="../static/assets/css/main.css" rel='stylesheet' th:href="@{/assets/css/main.css}"
          type='text/css'/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="../static/js/index.js" th:src="@{js/index.js}"></script>
</head>
<body>
<header>
    <h1 class="title">THE SHOP</h1>
    <button class="cart" href="#" data-toggle="modal" data-target="#exampleModalCenter">CART</button>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-4 card" th:each="product : ${products}">
            <div class="card-info mr-2">
                <h2 class="product-name" th:text="${product.getName()}"></h2>
                <p class="product-price" th:text="${product.getPriceWithCurrency()}"></p>
                <a href="#" class="add-to-cart-button">Add to cart</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">My cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Check out</button>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>
</body>
</html>